.Portfolio {
  align-items: center;
  display: flex;
  <<<<<<<HEAD
=======
  height: 100%;
  /* width: 100%; */
  >>>>>>>cb641efae77f6137846d390aaf4953105685595f
  background-color: grey;
}

.Portfolio-ListArea {
  flex: 20;
  padding: 1rem;
  /* height: 30%; */
  background-color: blue;
}

.Portfolio-RollArea {
  background-color: red;
  <<<<<<<HEAD
=======
  position: relative;
  >>>>>>>cb641efae77f6137846d390aaf4953105685595f
  flex: 50;
  display: flex;
  /* min-height: 0; */
  height: 100%;
  overflow: hidden;
}

.Portfolio-DescriptionArea {
  flex: 30;
  <<<<<<<HEAD
  padding: 1rem;
  =======>>>>>>> cb641efae77f6137846d390aaf4953105685595f
  background-color: orange;
}
