.Portfolio {
  align-items: center;
  display: flex;
  height: 100%;
  // width: 100%;
  // background-color: grey;
}

.Portfolio-ListArea {
  flex: 20;
  padding: 1rem;
  // height: 30%;
  // background-color: blue;
}

.Portfolio-RollArea {
  // background-color: red;
  flex: 50;
}

.Portfolio-DescriptionArea {
  flex: 30;
  // background-color: orange;
}
