.Portfolio {
  align-items: center;
  display: flex;
}

.Portfolio-ListArea {
  flex: 20;
  padding: 1rem;
  /* height: 30%; */
  animation: all 1s;
}

.Portfolio-ListArea_entered {
  opacity: 1;
  animation: all 1s;
  background-color: blue;
}

.Portfolio-ListArea_exiting,
.Portfolio-ListArea_entering {
  opacity: 0;
  animation: all 1s;
}

.Portfolio-RollArea {
  flex: 50;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;

  /* otherwise as soon as flex item
  can't be less the its contents by default, it's size is
  bigger and child % sizes are screwed up */
  min-height: 0;

  /* for uniformity all kids can expect their parents are flex
  unless needed otherwise */
  display: flex;
}

.Portfolio-DescriptionArea {
  flex: 30;
}
