.PortfolioList-Item {
  display: block;
  padding-right: 2rem;
  transition: padding 1s ease 0s;
}

.PortfolioList-Item:hover {
  text-decoration: none;
}

.PortfolioList-Item_selected {
  /* font-weight: bold; */
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 0;
  transition: padding 0.7s ease 0s;
}
