.PortfolioList-Item {
  display: block;
  transition: padding 1s ease 0s;
}

.PortfolioList-Item_selected {
  font-weight: bold;
  list-style-type: none;
  padding-left: 1rem;
  transition: padding 0.7s ease 0s;
}
