.DBPageContainer {
  align-items: center;
  display: flex;
}

.DBPageContainer-Left {
  flex: 40;
  padding: 1.5rem;
}

.DBPageContainer-Right {
  flex: 60;
}

.DBPageContainer-Image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
