.DBSiteContainer {
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: hidden;
  padding: 1.5rem 2rem; */
}

.DBSiteContainer-Header {
  flex: 0 0 content;
}

.DBSiteContainer-Body {
  /* flex: 1 1 auto => flex: 1 1 0 and height: 0, see
  https://github.com/philipwalton/flexbugs/issues/197#issuecomment-378908438 */
  flex: 1 1 0;
  /* height: 0; */

  /* https://github.com/philipwalton/flexbugs#flexbug-1 */
  min-height: 0;
  min-width: 0;
}

.DBSiteContainer-Footer {
  flex: 0 0 content;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
