body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.DBSite {
  display: flex;
  background-color: #222;
  color: white;
  flex-direction: column;
  height: 100vh;
  /* overflow: hidden;
  padding: 1.5rem 2rem; */
}

.DBSite-Header {
  flex: none;
  display: flex;
}

.DBSite-Body {
  display: flex;

  /* flex: 1 1 auto => flex: 1 1 0 and height: 0, see
  https://github.com/philipwalton/flexbugs/issues/197#issuecomment-378908438 */
  flex: auto;
  /* height: 0; */

  /* otherwise min sizes are content dimensions */
  /* https://github.com/philipwalton/flexbugs#flexbug-1 */
  min-height: 0;
  min-width: 0;
  position: relative;
}

.DBSite-Footer {
  flex: none;
  display: flex;
}
